* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bodoni;
    font-weight: 100;
}

.header {
    display: flex;
    justify-content: space-between;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    }

.header img {
    height: 50px;
    width: 50px;
    margin-left: 50px;
    }

.nav ul {
    list-style: none;
    display: flex;
    padding-top: 18px;
    padding-right: 200px;
    gap: 250px;
    }
    
.nav ul li {
    display: inline;
    font-style: italic;
    }
    
.nav ul li a {
    text-decoration: none;
    color: #654f40;
    font-size: 18px;
    transition: 0.3s;
    }
    
.nav ul li a:hover {
    color: #f4a261;
    }

body {
    background-color: rgb(27, 22, 19);
    color: white;
    text-align: center;
    padding: 100px 100px;
    background-image: url("../images/IMG_0687.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

h1 {
    font-size: 50px;
    margin-top: 150px;
    text-align: left;
    padding-left: 50px;
    font-style: italic;
    }

h2 {
    font-size: 50px;
    color: antiquewhite;
    margin-top: 0px;
    margin-bottom: 120px;
    text-align: left;
    padding-left: 50px;
    font-style: italic;
    }

h3 {
    font-size: 20px;
    color:beige;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 50px;
    font-style: italic;
    }

form {
    display: flex;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 200px;
    padding-left: 50px;
    }

/* Social Media Icons */

.social {
    background-color: #654f40;
    position: fixed;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    z-index: 1000;
    border-radius: 15px 0 0 15px;
    transform: translateY(-50%);
    width: 70px;
    padding: 16px 0 16px 12px;
}

.social a {
    display: flex;
    width: 45px;
    height: 45px;
}

.social-icon {
    height: 40px;
    width: 40px;
    } 


